<b>kiran bakshi</b><time datetime="2015-10-30T04:40:10Z"></time>
<p>Aap tho jani jan ho meri nav mazdar me hai bacho ki prai pati ka parmoshan lekit ak visvas hai ma tere dar se ma kabhi khali nahi gai ma kirpa karo meri jholi bhar do mere apradh sama kar do meri bhoole maf kar do</p>

<b>PRIYA CHOWDHURY</b><time datetime="2015-10-26T07:00:28Z"></time>
<p>ma tmi sbsmy vlo manuser ste theko.amdr sb somosya dur kro.tmy jeno evb e mn pran hk vokti kri.....

Jai Santoshi mata....</p>

<b>PRIYA CHOWDHURY</b><time datetime="2015-10-23T12:18:04Z"></time>
<p>Ma 2to jns chwar......
1.govt. jb.
2.amr vlobsa.

jai santoshi mata.....</p>

<b>uday</b><time datetime="2015-10-04T03:06:23Z"></time>
<p>Tu meri jidigi ki naiya par lga de maa ter brat mai 7 saal se karta hu ma meri jindigi ki antim pariksha h papa bhai bahan and meri Anamika ke liye maa madad karo</p>

<b>JAYASHREE NAIR</b><time datetime="2015-10-02T11:57:53Z"></time>
<p>jai santoshi maa</p>

<b>uday</b><time datetime="2015-09-20T17:14:45Z"></time>
<p>I love u toooo santoshimaaa</p>

<b>Vinita basra</b><time datetime="2015-09-14T05:28:36Z"></time>
<p>Please help us u r superior than any one</p>

<b>saraswati shamad</b><time datetime="2015-08-23T11:07:34Z"></time>
<p>jay maa santoshi ap ki ashirbad sada meri paribar pe rahe  mujh se hui galti ko maa maf karna mere man per maa santoshi ki bhakti sada rahe.</p>

<b>Latha</b><time datetime="2015-08-28T12:22:27Z"></time>
<p>Jai mata di  Sab Kuch accha Kardo ma</p>

<b>RAJ KUMAR RAJ</b><time datetime="2015-08-25T05:26:55Z"></time>
<p>JAI MAA SANTOSHI ......
SABHI KI MANOKAMNA SIDHH KARTE HO MAA MERI BHI MANO IKCHA PURI KARO MAA

JAI MAA SANTOSHI......</p>

<b>saraswati shamad</b><time datetime="2015-08-23T11:07:34Z"></time>
<p>jay maa santoshi ap ki ashirbad sada meri paribar pe rahe  mujh se hui galti ko maa maf karna mere man per maa santoshi ki bhakti sada rahe.</p>

<b>sarita </b><time datetime="2015-08-19T09:46:34Z"></time>
<p>Jaya Santoshu ma</p>

<b>priya</b><time datetime="2015-08-17T07:29:34Z"></time>
<p>Ma Santoshi ma jai ma
Teri Saharan rahu mai sada
Ma Santoshi ma jai ma
</p>

<b>golu</b><time datetime="2015-08-07T05:49:46Z"></time>
<p>jai mata di               mere pe karpya kro mata rani  hum bhut kast me hai mata rani</p>

<b>monica gangaram panday</b><time datetime="2015-08-06T05:40:59Z"></time>
<p>This is a wonderful website with great information. I am really grateful for all the blessings that Maa Santoshi has given me and more.

Jai Santoshi Maa!</p>

<b>surender pal</b><time datetime="2015-07-23T23:08:02Z"></time>
<p>Teri kripa maa mujh pe or maere parivar pe sada rakhna jai santoshi maa teri jai ho maa</p>

<b>Bhushan Kumar</b><time datetime="2015-07-20T09:59:05Z"></time>
<p>Maa Kirpa rakhna</p>

<b>amritha</b><time datetime="2015-07-17T07:21:15Z"></time>
<p>jai santhoshi matha ,,,</p>

<b>abhishekpinki</b><time datetime="2015-07-07T10:01:01Z"></time>
<p>He maa santosi meri mata rani meri jivan ki ek ek pl ki taklif ka aapko pata h maa.. muje mere pyar se mila dijiye maa.. wo meri zindagi h mera pati mera sab kuch h maa.. wo mujhse dur chale gaye h maa.. mujpe kripa kijiye meri mai rani .. mere pyar se muje wapas mila dijiye maa. Jab jan gaao re aarti santoshi mata ki.. jot jagao re hriday me santoshi mata ki.. jor se bolo santosi mata ki jay.</p>

<b>abhishek singh</b><time datetime="2015-06-29T13:07:04Z"></time>
<p>maa meri manokamana puri karo maa..........</p>

<b>Raman</b><time datetime="2015-06-25T18:33:32Z"></time>
<p>Ma santosi mari manokamana puri karo jay mataji</p>

<b>Amandeep Singh Katal</b><time datetime="2015-06-23T06:09:28Z"></time>
<p>Ma mere Santoshi g kirpa kro g bahut adhchan pandiya pwa mere Australia study visa dya maa galitya maaf kro jadiya mere kool hoya maa g please visa time ta dwa dyo pls jai mata di </p>

<b>krishna prasadpenday</b><time datetime="2015-06-19T08:42:25Z"></time>
<p>Jay ma santoshi</p>

<b>sagar lachure</b><time datetime="2015-06-19T07:39:31Z"></time>
<p>maa mere kashto ko dur karo.....
meri mano kamna puri karo....
muze government job lagaao......</p>

<b>anand singh</b><time datetime="2015-06-05T08:58:56Z"></time>
<p>mere kashta dur karo maa</p>

<b>Jitendra Kumar Katiyar</b><time datetime="2015-06-05T05:56:13Z"></time>
<p>Jai Maa Santoshi Aap ki sewa ka avsar do maa, aapko pachan sakun aisa var do maa. kaam kridh lobh se bachao maa...

Bolo Jai Santoshi Maa...</p>

<b>Dr.Sukanta Das</b><time datetime="2015-05-31T13:37:37Z"></time>
<p>Namoste sree santoshi matar sarbo debanang paroma prakiti jaisya triptenoo purno brohmbho rupenoo namastute..</p>

<b>Tejal</b><time datetime="2015-05-25T09:54:53Z"></time>
<p>He Maa jagat janani maa Santoshi mari manokna purna karo maa mane mark shharran daas no sath apo maa.Mara shharran daas ne sahi rasto batav ma. Mara magna mara shharran daas sathe karavo ma. Hu shol shukravar nu vrat purna kara ane jindagi bhar shukravare khati vastu nahi khavu he divase mara shharran sathe lagna thase the divas thi. Jai Santoshi Maa</p>

<b>kunmuni</b><time datetime="2015-05-21T15:11:49Z"></time>
<p>jay santoshi mata plz full fill my all the dreams.</p>

<b>rushali</b><time datetime="2015-05-20T16:06:30Z"></time>
<p>Me Drug inspector hou det
Nd me 12 subject mdhe pass hou de nd
Mazya papanch ,bhavch nd mama nch rakshan kar 
Nd mla sodun kdhi jau nko</p>

<b>Akriti Akhauri(Wife Of Dr. Piyush Prakash)</b><time datetime="2015-05-18T07:52:35Z"></time>
<p>Hei santoshi Mata, Mere sankat Door karo ...Mujhe Saubhagya aur Pati Sukh do....Dampatya jeevan ke kasht aur Dukh door karke mere pati mujhe maan aur pyaar de sukhi rakhe; mujhse door nhi rahe ....mujhe apne paas hi rakhe aur mere dukh daridra door kariye hey maata....mere mushkilo me mera sath do hei maateshwari santoshi mata...maa mujhe apni manzil tak pahuchne ke liye samarth karo....mera jeevan suna nahi karo hei santoshi maa....meri madat karo hei jagat janani , kaliyug me maa jaise aap aur bhakto ke dukh door karti hain mere bhi karo hei karunamayee jagat janani santoshi maa,aapki jai ho!!! daya karo mata JAI SANTOSHI MAA !</p>

<b>ABHISHEK</b><time datetime="2015-05-18T06:04:04Z"></time>
<p>jai santoshi maa, plzz fulfil my dreams...........</p>

<b>suman mohanta</b><time datetime="2015-04-24T17:55:49Z"></time>
<p>hey ma me apke sarano me jabse hosh  sambhale hei tabse hu... aur ap har muskil me meri bera par kiya hei.. maa apka mahima aprampar.Ma aj me apse anewale jindegi ke liye or mere beti or pati or meri mummy bahi .. pari ..jeena bhavi ke liye parthana kar rahi hu.. jen har muskilo se ap sath dena.. jeaise ap pehle diye hei.. ma mujhe apni manzil tak pahuch ne kiye liye samrth karo.. jai santoshi maa... jagat janani , kali yug me ma sakshat bhakto ke dukh dur karti hei... har bhakta bolo Jai maa santoshi..</p>

<b>Umesh maini </b><time datetime="2015-04-24T13:21:05Z"></time>
<p>Pl fulfill my wish </p>

<b>Chandan kumar sarkar</b><time datetime="2015-04-24T06:32:03Z"></time>
<p>Jai santoshi mata ki joi. Bless me mother so that I can fulfill all my dreams. </p>

<b>vikram singh</b><time datetime="2015-04-17T14:43:10Z"></time>
<p>jai maa santoshi ji ho</p>

<b>Surylok singh </b><time datetime="2015-04-13T17:44:44Z"></time>
<p>Jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di jay mata di</p>

<b>Surylok singh </b><time datetime="2015-04-13T17:40:47Z"></time>
<p>Meri ma meri pukar suno ma main jindagi me jo bhi galti kiya hu mushe maf kar de ma main tera bhakt meri pukar suno ma </p>

<b>Clara</b><time datetime="2015-04-04T06:20:10Z"></time>
<p>Please pray for my poverty, family unity. </p>

<b>sanjeeva Naragund.</b><time datetime="2015-03-27T12:12:16Z"></time>
<p>god matha ji pless bless me alaways good health and wealth. thanks mathaji </p>

<b>usha yamgar</b><time datetime="2015-02-20T09:39:22Z"></time>
<p>my mother, father, sistar,saki,love, santoshi maa</p>

<b>leela</b><time datetime="2015-02-19T08:56:08Z"></time>
<p>Jai santoshi ma var de, Jai kalyani jagadabe, sukha santi sowbhage parde ma santoshi namostute</p>

<b>Sunil</b><time datetime="2015-01-03T02:16:22Z"></time>
<p>Jai Shantoshi ma var di,
Jai Klyani Jagdimba.
Shukh santi de ani vighna hari
Ma Shantoshi namasthuta</p>

<b>SANJIVA AGARWALA</b><time datetime="2014-12-05T06:47:35Z"></time>
<p>SABKA BHALA KARO MAA</p>

<b>satyendra kumar sharma</b><time datetime="2014-11-01T16:40:24Z"></time>
<p>kalyan kro maa</p>

<b>Reshma S Gajakosh</b><time datetime="2014-10-07T07:23:59Z"></time>
<p>Oh Maa mujpe daya karu. Mere Sapnoko pura karoo. Jai mata ki.</p>

<b>Harvin der pal kaur</b><time datetime="2014-09-05T16:57:11Z"></time>
<p>Ma tu kali ban dukh harti santoshi tera name
Ik bar jo sharen me aaye, rid hi sidi se sampat ho jaye.bolo santoshi maa ki jai</p>

<b>Mahendra</b><time datetime="2014-08-10T03:10:52Z"></time>
<p>Happy Birthday Maa. :-)</p>

<b>Meera Tiwari</b><time datetime="2014-08-07T11:44:31Z"></time>
<p>maa hamesaa aapne meree pukaar suni yeabaar / harbaar vi suno maa]</p>

<b>ANJU</b><time datetime="2014-08-02T13:29:53Z"></time>
<p>MAA AAP TO SBKI SUNTI HO MERI BHI SUNI HAI APNE MAA PLZ ISBAR BHI SUNLO ME MAA OR MERA YE ITNA BDA DUKH ISE MERI ZINDAGI SE DUR KARDO MAA AB OR DER MAT KARO MERA AAP PAR ATTOOT VISWAS HAI JO KBHI NHI DAGMAGYEGA</p>

<b>Kishan Bagaria</b><time datetime="2014-07-21T17:41:30Z"></time>
<p>Jai Santoshi Maa</p>

<b>shubhi</b><time datetime="2014-06-13T13:03:31Z"></time>
<p>Sun lo meri pukar maa...
dukhdey dur karo maa...</p>

<b>HEMA BHRIJESH PATEL</b><time datetime="2014-05-06T10:11:26Z"></time>
<p>MNAA AAPNE HAMESHA MERI MADAD KARI HE IS BAAR DERKYUN KAR RAHI HO MNAA MNAA KRIPA KARKE MERI MANOKAMNA PURNA KARO MNAA MUJHE IS BAAR SABSE JYADA JARURAT AAPKE SAATH KII HE MNAA MERA SAATH DO MNAA MERI MADAD KARO</p>

<b>HEMA B. PATEL</b><time datetime="2014-04-28T14:50:48Z"></time>
<p>JAY SANTOSHI MATA</p>

<b>Brusaketu Sahani</b><time datetime="2014-04-23T09:34:57Z"></time>
<p>Maa Jay santoshi Maa.

Tere dwar mein ,mein ek bhikari hun maa
Mujhe sada apni anchal mein rakhana mere maa, pyari maa

Tera jay jay kaar ho maa

Tere bin aur koi nehin iss dunia mein mere maa</p>

<b>minati misra</b><time datetime="2014-04-18T10:44:52Z"></time>
<p>Jai santoshi mata ki jai ho
sada bhakt jano ar krupa banaiya rakho mata
jai santoshi mata ki jai.</p>

<b>vipin singh</b><time datetime="2014-04-06T06:13:41Z"></time>
<p>i'm speechless, i can't say anything about my mumma(maa santoshi) because every word would be less than my mumma's love to her child.

only i want to say that ''I LOVE U MUMMA TOO MUCH''.</p>

<b>hetal trivedi</b><time datetime="2014-03-31T22:26:48Z"></time>
<p>jay santoshi maa soune santosh rakhe</p>

<b>shri Bhagwati santoshi mataji</b><time datetime="2014-03-15T16:40:08Z"></time>
<p>♦- सरकारों की सरकार है-!! जय भगवती सन्तोषी माँ !! 
♦- दुर्गा माँ की अवतार है- !! जय भगवती सन्तोषी माँ !!
♦- पतझड़ में बहार है- !! जय भगवती सन्तोषी माँ !!
♦- भक्तों की सिरोधार है-!</p>

<b>Sanjay Kumar Agrahari</b><time datetime="2014-03-14T17:41:57Z"></time>
<p>Jai maa Shantoshi 
Jai Mata Raani</p>

<b>Vishram Sookhoo</b><time datetime="2014-03-08T00:49:05Z"></time>
<p>Jai Santoshi Mata</p>

<b>Vimal Verma</b><time datetime="2014-02-06T15:02:29Z"></time>
<p>Kalyug Tarni Maa Jai Santoshi Maa!!!</p>

<b>Roshni Devi</b><time datetime="2014-01-28T01:01:47Z"></time>
<p>Jai Maa Santoshi Mata  lakho Pranam.</p>

<b>chanchal</b><time datetime="2014-01-17T12:05:08Z"></time>
<p>jai mata di......</p>

<b>Srikant soni</b><time datetime="2013-11-08T20:50:52Z"></time>
<p>Jai santoshi maa

Maa jo tumahara vrat kare uske sare kaam pura karo ....sabke varat safal karo.
Om shri santoshi mahamaye ganesh aanand dayeeni,,
Shukravaar priye devi narayani namostute...</p>

<b>naveen</b><time datetime="2013-10-04T07:31:33Z"></time>
<p>jai jai jai santoshi mata kripa karo maa</p>

<b>annalakshmi@deepa s</b><time datetime="2013-09-13T17:46:01Z"></time>
<p>om sri santhoshi maha mayee ganesanthayeenee shukravara priyee devi narayanee namosthuthy i love u santhoshi mata maa santhoshi matamaa yanakku unga aasirvathathodu seekiram kalyanam panni vaiga maa</p>

<b>Kunal</b><time datetime="2013-08-17T17:05:48Z"></time>
<p>Jai Mata Santoshi</p>

<b>RABINDRA SAHU</b><time datetime="2013-06-10T18:38:44Z"></time>
<p>Jai Santoshi Mata Ki jai</p>

<b>GOVIND</b><time datetime="2013-03-29T15:32:17Z"></time>
<p>MATA RANI MUJHE IS SANSAR SE MUKTI DILA KAR APNI SARAN MAI LE LO MAI ISHSANSAR SE DUKHI HO CHUKA HU      
JAI JAI SANTOSHI MAA JAI JAI MAA</p>

<b>KHUSHAL</b><time datetime="2013-03-29T15:28:02Z"></time>
<p>I LOVE YOU TOO  SO VERY VERY MUCH SANTOSHI MAATA JI</p>

<b>Pavan</b><time datetime="2013-03-29T10:48:05Z"></time>
<p>Jai Santoshi Maa, Har mushkil me saath diya hai, ab kyo mujhe nahi sun rahe hai, Madad karo Santoshi Maa</p>

<b>Christopher in UK</b><time datetime="2013-03-17T06:56:19Z"></time>
<p>Jai Jai Santoshi Mata!
Hear my prayers great mother. X</p>

<b>ANAND</b><time datetime="2013-02-19T13:25:56Z"></time>
<p>Jai Jai Santhoshi mata.... Aap to sab ko santhosh deta hai.. Aaapki kripa to bahut badiya hai maa...
Jai Jai Sathoshimata ki jai ho..!</p>

<b>Amar</b><time datetime="2013-02-16T01:01:06Z"></time>
<p>Jay Santoshi Maa-</p>

<b>Deepak Kumar Mahto</b><time datetime="2013-01-18T23:07:35Z"></time>
<p>jai santoshi maa</p>

<b>Manoj</b><time datetime="2013-01-10T00:36:31Z"></time>
<p>Jai Santoshi Maa

Sakal ghana ghanjini hai devi Santoshi jagata ke dukha bhajini hai devi Santoshi. Moha maya ko taajo raat din inko bhajho bhakta jaana manjini hai devi Santoshi.</p>

<b>santosh mohanty</b><time datetime="2012-12-20T16:32:02Z"></time>
<p>jai santoshi maa ki jai, apne bhakto ke upper asia hi kurpa karna maaaaaaaaa</p>

<b>Arpita Nag</b><time datetime="2012-12-07T13:39:43Z"></time>
<p>Jai Santoshi mata 
Kripa karo mata</p>

<b>raj singh</b><time datetime="2012-12-01T20:28:41Z"></time>
<p>jai santoshi mata.daya karo maa.</p>

<b>Deepak bhardwaj</b><time datetime="2012-10-29T07:34:14Z"></time>
<p>apne bhagton par kirpa kro maa,,</p>

<b>Deepak bhardwaj</b><time datetime="2012-10-29T07:32:30Z"></time>
<p>hamara sab kuchh tum ho maa,  ..... jay santoshi maa,,,,,</p>

<b>Deepak bhardwaj</b><time datetime="2012-10-29T06:46:53Z"></time>
<p>Jai Santoshi ma krpa karo ma,</p>

<b>Sunita</b><time datetime="2012-09-05T09:02:28Z"></time>
<p>Jai santoshi maa...Kripa banaye rakhna mata. daya karo mata....mata rani ki jai.</p>

<b>Kulwinder</b><time datetime="2012-07-29T19:57:02Z"></time>
<p>Advance happy birthday maa.</p>

<b>Rajesh Goswami</b><time datetime="2012-05-24T16:43:39Z"></time>
<p>JAI MAA SANTOSHI
JAI MAA SANTOSHI</p>

<b>subhra</b><time datetime="2012-04-19T16:23:00Z"></time>
<p>Jai santoshi ma.. Apna kripa banaye rakhna..</p>

<b>PREETI DUHAN</b><time datetime="2012-04-14T12:49:30Z"></time>
<p>JAI SANTOSHI MATA......
JAI SANTOSHI MATA......</p>

<b>Ashwani Kumar</b><time datetime="2012-02-16T20:18:46Z"></time>
<p>Ma Santoshi Maa</p>

<b>Ashwani Kumar</b><time datetime="2012-02-16T20:18:11Z"></time>
<p>Maa Santoshi Maa........</p>

<b>jugalkishore</b><time datetime="2011-10-20T19:09:52Z"></time>
<p>santoshi santosh pard,
mangal roop mahan,
ham balak h mat tum,
sada kro kalyan,</p>

<b>jugalkishore</b><time datetime="2011-10-20T19:08:04Z"></time>
<p>jai maa santoshi</p>

<b>Manju</b><time datetime="2011-09-12T19:42:36Z"></time>
<p>Jai Santoshi Maa..

Jo Manga ususee..bhi jyada diya...

Jai Santoshi Maa...</p>

<b>susanta k sethi</b><time datetime="2011-08-27T11:07:07Z"></time>
<p>jai santoshi maa ki jai........</p>

<b>MRITUNJAY</b><time datetime="2011-08-18T16:37:32Z"></time>
<p>JAI MAA,GIVE ME POWER TO HELP OTHERS AND TO CONTROL ON BAD BEHAVIOURS</p>

<b>arjun vishwakarma</b><time datetime="2011-08-10T14:14:20Z"></time>
<p>jai mata ki</p>

<b>partap singh</b><time datetime="2011-05-20T19:12:34Z"></time>
<p>daya kro maa, beara par kro maa raksha kro maa..sda  jholo bhrana maa jai santoshi maa...</p>

<b>Manisha</b><time datetime="2011-04-13T12:51:51Z"></time>
<p>Jai Santoshi Ma,

App nee sada Jai Jai kaar ho mata,
Daya karo mata,
Jai Santoshi Mata, Jai Santoshi Mata,
Santoshi Mata ki ........ JAI.</p>

<b>Ashwani</b><time datetime="2011-03-12T13:55:16Z"></time>
<p>Jai Santoshi Maa..</p>

<b>Partab Raj</b><time datetime="2010-11-26T14:21:21Z"></time>
<p>jai ma santoshi..................app nee sada jai jai kaar ho mata rani, daya karo mata ......jai mata ji lets rockkkkk</p>

<b>Mahendra Bagaria</b><time datetime="2010-05-23T08:43:50Z"></time>
<p>MARIANI WALI SANTOSHI MAA KI JAI</p>

<b>Kishan Bagaria</b><time datetime="2010-05-22T12:03:16Z"></time>
<p>Jai Santoshi Maa</p>
